html {
  font-size: 20px;

  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  height: 2.2rem;
  background-color: #ff6600;
}
.header p {
  margin: 0;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  font-family: local_arial_narrow;
}
.tabbar {
  height: 4.2rem;
  border-top: 5px solid rgba(236, 236, 240);
}
.tabbarItem:active {
  background-color: #ff6600;
  color: #ffffff;
}
.tabbarItem img {
  width: 1.8rem;
  height: 1.8rem;
}
.tabbarItem p {
  margin: 0;
  font-size: 0.62rem;
}
.nut-popup-title {
  padding: 0 !important;
}
.nut-overlay {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
a {
  text-decoration: none;
}
.contact {
  font-size: 0.65rem;
  color: #8e8e8e;
  font-weight: 450;
}

.phone {
  color: #ff6600 !important;
  font-size: 0.85rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
.close {
  color: #333333;
  border: 0rem;
  top: 0.45rem;
  font-weight: 450;

  background-color: #ffffff;
  font-size: 0.6rem;
}
